@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@font-face {
    font-family: Another-Danger;
    src: url(../assets/fonts/Another-Danger.otf);
}

:root {
    --dark-red: #A90000;
    --red: #ED2222;
    --another: Another-danger;
    --shadow-cards: 0px 0px 5px 13px rgba(0, 0, 0, 0.25);
    --background-cards: rgba(5, 5, 5, 0.6);
}

body {
    background-image: url(../assets/images/pexels-roger-johansen-7704536.jpg);
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;

}

/* NAVBAR */

.navbar-section a {
    text-decoration: none;
    color: white;
}

.navbar-section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar-section {
    background-color: rgba(5, 5, 5, 0.6);
    backdrop-filter: blur(8px);
    padding: 15PX;
}

.navbar-section nav {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: black; */
}

.navbar-center ul {
    display: flex;
    font-family: Another-danger;
    letter-spacing: 2px;
    font-size: 20px;
}

.navbar-center ul li {
    margin-right: 24PX;
}

.navbar-center ul li a:hover {
    color: var(--red);
}

.navbar-right {
    margin-left: 100px;
}

.navbar-right ul{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.navbar-right ul li a {
    font-weight: 300;
}

.navbar-right ul li .button-registre {
    color: black;
    font-family: var(--another);
    background-color: #ED2222;
    border: 0px;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-left: 24px;
}

.navbar-right ul li .button-registre:hover {
    color: var(--red);
    background-color: #000;
    box-shadow: 0 0 15px 5px #ED2222;
}

.navbar-section h1 {
    font-family: var(--another);
    color: var(--red);
    position: absolute;
    font-size: 60px;
    left: 10%;
    margin-top: 30px;
    text-shadow: 10px 10px 0 #000,
                -10px -10px 0 #000,
                10px -10px 0 #000,
                -10px 10px 0 #000;
    cursor: pointer;
}

.navbar-section img {
    display: none;
    cursor: pointer;
}

/* NAVBAR MOBILE */

.navbar-section-mobile a {
    text-decoration: none;
    color: white;
}

.navbar-section-mobile ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar-section-mobile {
    background-color: rgba(5, 5, 5, 0.6);
    backdrop-filter: blur(8px);
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-size: 30px;
    margin: 0;
}

.navbar-section-mobile nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-left: 60px;
    height: 100vh;
}

.navbar-top li {
    margin-bottom: 20px;
    font-family: var(--another);
    letter-spacing: 2.5px;
}

.navbar-bottom li{
    margin-bottom: 30px;
}

.navbar-bottom li .button-registre-mobile {
    font-family: var(--another);
    letter-spacing: 2.5px;
    background-color: var(--red);
    padding: 10px;
    border-radius: 10px;
}

.navbar-section-mobile img{ 
    width: 80px;
    align-self: flex-end;

    margin-top: 50px;
    margin-right: 50px;
}

.navbar-top {
    margin-bottom: 100px;
}

.inactive {
    display: none;
}

/* HOME SECTION */

.page {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* MOVIE */

h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
}

.social-media img {
    width: 40px;
    margin-left: 20px;
    margin-top: 40px;
    cursor: pointer;
}


.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 0;
    padding-bottom: 40%; /* Proporción de aspecto 4:3 */
    position: relative;
    /* max-width: 1000px; */
    max-height: 650px;
    margin: 0 auto; /* Centrado horizontal */
    border-radius: 50px;
    box-shadow: 0px 0px 5px 13px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}
  
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}
  
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* padding: 10px; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    margin-bottom: 30px;
}
  
.card-title {
    margin: 0;
    font-family: var(--another);
    font-size: 50px;
    margin-left: 20px;
    color: #000;
    letter-spacing: 4px;
}
  
.card-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 100px;
    text-decoration: none;
    font-weight: 400;
}

.card-button:hover {
    box-shadow: 0 0 15px 5px #ED2222
}

  /* HOME PODCAST SECTION */

  /* PODCAST CARD */
.podcast-card {
    width: 100%;
    height: auto;
    max-width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}
  
.card-podcast-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card-audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card-audio-container {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    height: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-audio-container {
    width: 80%;
    height: 80%;
    width: fit-content;
    color: white;
    font-size: 10px;
    margin-right: auto;
    margin-left: 10%;
}
  
.podcast-title {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.controls-audio-container {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-audio-container {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    height: 1px;
    border-radius: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: var(--red);
}

.time-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 5px;
}

.time-left {
    margin-top: 0.3rem;
}

.main-audio-controls {
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 80%;
    width: auto;
    cursor: pointer;
}

audio {
    display: none;
}

/* PODCAST CONTAINER */

.podcast-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* CREEPYPASTA-SECTION */

.creepypasta-container {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(10px);
    margin: auto;
    margin-bottom: 100px;
    border-radius: 50px;
}

.creepypasta-container h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.creepypasta-container p {
    margin: 0;
    font-weight: 300;
}

.creepypasta-container a{
    text-decoration: none;
    color: var(--red);
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.social-media-footer img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.footer h5 {
    font-size: 18px;
    font-weight: 200;
}


/* REGISTRO */

.crear-cuenta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 50px;
    max-width: 800px;
    align-self: center;
}
.crear-cuenta-container h3, .ingresar-cuenta-container h3 {
    font-size: 25px;
    font-family: var(--another);
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--red);
    letter-spacing: 2px;
}

.crear-cuenta-container span, .ingresar-cuenta-container span {
    background-color: var(--red);
    padding: 5px 30px;
    font-size: 20px;
    font-family: var(--another);
    border-radius: 20px;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.crear-cuenta-container span:hover {
    color: var(--red);
    background-color: #000;
    box-shadow: 0 0 15px 5px #ED2222;
}

.close_button {
    width: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.image-button {
    background-color: var(--red);
    border-radius: 100px;
    padding: 10px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
}

.crear-cuenta-container input, .ingresar-cuenta-container input {
    border: none;
    background-color: var(--dark-red);
    margin: 8px;
    padding: 12px;
    width: 300px;
    border-radius: 20px;
    color: white;
}

.crear-cuenta-container input::placeholder, .ingresar-cuenta-container input::placeholder {
    color: rgb(255, 142, 142);
}

/*  INICIAR SESIÓN */

.ingresar-cuenta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 50px;
    max-width: 800px;
    align-self: center;
}

/* RELATOS PAGE */

.relatos-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80vw;
}

#escribir-relato {
    background-color: var(--red);
    margin: 50px auto;
    padding: 5px 25px;
    font-weight: 400;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
}

.relato-preview-card {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 30px;

    margin-bottom: 50px;
}

#foto-perfil {
    width: 60px;
    border: 5px solid #ED2222;
    border-radius: 50px;
}

.relato-card-top {
    display: flex;
    align-items: center;
}

.titulo-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.relato-card-bottom {
    display: flex;
    flex-direction: column;
}

.titulo-user h2 {
    font-size: 25px;
    margin: -5px;
}

.titulo-user h3 {
    margin: 0px;
    font-weight: 200;
    font-size: 15px;
}

.contenido-relato {
    text-align: justify;
}

#leer-mas {
    border: none;
    background-color: var(--red);
    color: white;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
}

/* ESCRIBIR RELATO */

.escribir-relato-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    margin-top: 100px;
    background-color: var(--background-cards);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.escribir-relato-container h4 {
    font-size: 20px;
    font-weight: 500;
}

.escribir-relato-container input {
    padding: 15px;
    border: none;
    border-radius: 5px;
}

#titulo-relato {
    width: 80%;
    margin: -10px;
    font-family: 'Poppins', sans-serif;
}

.escribir-relato-container textarea {
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    max-width: 80%;
    height: 500px;
}

#enviar-relato {
    background-color: var(--red);
    color: white;
    margin-top: 20px;
    font-family: var(--another);
    letter-spacing: 2px;
    padding: 10px;
    font-size: 17px;
    width: 20%;
    margin-bottom: 30px;
    cursor: pointer;
}

#enviar-relato:hover {
    color: var(--red);
    background-color: #000;
    box-shadow: 0 0 15px 5px #ED2222;
}

.escribir-relato-container h5{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

/* RELATO COMPLETO */

.relato-container {
    background-color: var(--background-cards);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    padding: 30px 40px;
    margin-top: 100px;
    border-radius: 50px;
}

.titulo {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
}

.autor {
    margin: 0;
    font-weight: 200;
}

.contenido-relato {
    margin-top: 30px;
}

/* ESCRIBIR COMENTARIO */

.escribir-comentario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    background-color: var(--background-cards);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.escribir-comentario-container h4 {
    margin: 10;
    margin-top: 0px;
    align-self: flex-start;
    margin-bottom: 15px;
    margin-left: 5px;
}

.escribir-comentario-container textarea {
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 95%;
    max-width: 95%;
    height: 90px;
    max-height: 100px;
    background-color: #e4e4e4;
    margin-bottom: 20px;
}

#enviar-comentario {
    background-color: var(--red);
    border: none;
    align-self: flex-end;
    margin-right: 10px;
    padding: 5px;
    color: white;
    font-size: 15px;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

#enviar-comentario:hover {
    color: var(--red);
    background-color: #000;
    box-shadow: 0 0 15px 5px #ED2222;
}

/* COMENTARIOS SECTION */

.comentarios-section {
    width: 60vw;
    margin: auto;
}

.comentario-title {
    font-size: 25px;
}

/* COMENTARIOS CONTAINER */

.comentarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 57vw;
}

.comentario-card {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--background-cards);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
}

.left-comment-section img {
    width: 80px;
    border: 5px solid #ED2222;
    border-radius: 100px;
    margin-right: 20px;
}

.usuario-comment {
    margin: 0;
    font-size: 20px;
}

.comentario-usuario {
    margin: 0px;
    font-weight: 200px;
    text-align: justify;
}

/* CREEPYPASTAS SECTION */

.creepypastas-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 100px;
}

.creepypastas-card {
    width: 270px;
    height: 270px;
    background-color: var(--background-cards);
    padding: 20px;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
}

.titulo-creepypasta-card {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}

.creepypastas-card p {
    font-size: 12px;
    margin: 0;
    text-align: justify;
}

/* MEDIA QUERIES */

/* NAVBAR-DESKTOP */

@media (max-width: 1350px) {

    .navbar-section h1 {
        position: unset;
        font-size: 40px;
        margin: auto;
        margin-top: 20px;
    }

    .navbar-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-section nav {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 850px) {
    
    .navbar-section nav {
        display: none
    }

    .navbar-center {
        display: none;
    }
    .navbar-right {
        display: none;
    }

    .navbar-section img {
        display: block;
        margin: 0px;
        margin-left: 30px;
        margin-top: 40px;
    }

    .navbar-section {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-section h1 {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {

    .navbar-section {
        align-items: flex-start;
    }

    .navbar-section img {
        width: 50px;
        margin-top: 40px;
        margin-left: 0;
    }

    .navbar-section {
        justify-content: center;
        align-items: center;
    }

    .navbar-section h1 {
        position: relative;
    }
}

@media (max-width: 390px) {
    .navbar-section img {
        width: 30px;
        margin-top: 40px;
    }

    .navbar-section {
        justify-content: center;
        align-items: center;
    }
}

/* NAVBAR MOBILE */

@media (max-width: 500px) {
    .navbar-section-mobile {
        font-size: 20px;
    }

    .navbar-top {
        margin-bottom: 200px;
    }
    .navbar-section-mobile img {
        width: 50px;
    }
}


/* HOME PAGE */

@media (max-width: 950px) {

    .social-media {
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
    }

    .movie-card {
        padding-bottom: 50%;
    }

    .podcast-container {
        justify-content: space-around;
        align-items: center;
        margin: 20px;
    }

    .podcast-card {
        margin: 10px
    }
}

@media (max-width: 750px) {

    h2 {
        font-size: 25px;
        text-align: center;
    }

    .social-media {
        display: none;
    }

    .movie-week {
        margin-top: 50px;
    }

    .movie-card {
        padding-bottom: 70%;
    }

    .card-content {
        margin: 20px;
    }

    .card-title {
        font-size: 40px;
        text-shadow: 1px 3px white;
    }

    .card-button {
        font-size: 15px;
        margin-right: 50px;
    }
}

@media (max-width: 650px) {
    .card-title {
        display: none;
    }
}

@media (max-width: 500px) {

    h2 {
        font-size: 20px;
    }

    .movie-card {
        padding-bottom: 80%;
        margin-bottom: 50px;
    }

    .card-title {
        display: none;
    }

    .card-button {
        font-size: 13px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

/* REGISTRO */

@media (max-width: 500px) {
    .crear-cuenta-container input{
        width: 200px;
        padding: 8px;
    }
}

/* RELATOS PAGE */

@media (max-width: 800px) {
    .relato-card-top {
        justify-content: center;
        flex-direction: column;
    }
    #foto-perfil{
        margin-bottom: 10px;
        width: 50px;
    }

    .titulo-user {
        align-items: center;
    }
}

@media (max-width: 500px) {
    .relato-card-top {
        justify-content: center;
        flex-direction: column;
    }
    #foto-perfil{
        margin-bottom: 10px;
        width: 40px;
    }

    .titulo-user h2 {
        font-size: 20px;
    }

    .titulo-user h3 {
        font-size: 12px;
    }

    .contenido-relato {
        font-size: 13px;
    }

    #leer-mas{
        align-self: center;
    }
} 

/* ESCRIBIR RELATO */

@media (max-width: 850px) {
    #titulo-relato {
        width: 80%;
    }
}

@media (max-width: 650px) {

    .escribir-relato-container {
        padding: 20px;
        width: 73vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #titulo-relato {
        width: 80%;
    }

    #enviar-relato {
        width: 50%;
    }
}

/* RELATO COMPLETO */

@media (max-width: 500px) {
    .relato-container {
        border-radius: 20px;
    }
}

/* ESCRIBIR COMENTARIO */

@media (max-width: 950px) {
    #enviar-comentario {
        width: 30%;
        margin-right: 0px;
    }
}

@media (max-width: 500px) {

    .escribir-comentario-container {
        border-radius: 10px;
    }

    .escribir-comentario-container h4 {
        align-self: auto;
    }

    #enviar-comentario {
        align-self: auto;
        width: 50%;
    }

    .escribir-comentario-container textarea {
        height: 50px;
        max-height: 50px;
    }
}

/* COMENTARIOS */

@media (max-width: 750px) {
    .comentario-card {
        width: 55vw;
        flex-direction: column;
    }

    .left-comment-section img {
        width: 50px;
    }
}

@media (max-width: 500px) {
    .comentario-card {
        width: 100%;
    }

    .comentario-usuario {
        font-size: 15px;
    }

    .left-comment-section img {
        width: 40px;
    }

    .left-comment-section {
        align-self: flex-start;
    }

    .usuario-comment {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .creepypastas-card {
        height: 300px;
    }
}